<div *ngIf="showlist">
  <div class="contact-profile">
    <i class="fa fa-list fa-fw img_header" aria-hidden="true"></i>
    <p>Todo List</p>
  </div>
  <table class="table">
      <tbody>
  
        <tr  *ngFor="let list of lists">
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" checked>
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </td>
          <td><span style="font-weight: bold;">{{list.payload.doc.data().Subject}} </span>{{list.payload.doc.data().description}} - <span style="font-weight: bold;">{{list.payload.doc.data().No}}</span></td>
          <td class="td-actions text-right">
            <button type="button" rel="tooltip" title="Take test" class="btn btn-primary btn-link btn-sm" (click)="taketest()">
              <i class="material-icons">arrow_right_alt</i>
            </button>
          </td>
        </tr>
        
  
       
       
      </tbody>
    </table>
  
</div>
