


<!-- Sidebar navigation -->
<div class="container-fluid" >
  <div class="row">
    <!-- Top navigation -->
    <div>
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 ">
        <div class="col-sm-3">
          <a  (click)="authService.SignOut()">
            <i class="fas fa-sign-out-alt"></i>Log out
          </a>
        </div>
        <div class="col-sm-6"></div>

        <div class="col-sm-3" *ngIf="authService.userData as user">
          <img class="align-self-start mr-1 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
               alt="{{user.displayName}}">
          {{user.displayName}}
        </div>
      </nav>
    </div>

    <div class="row">


      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link">
                <i class="fas fa-sign-out-alt"></i>Home Component
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="create-page">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Create Section</li>
            </ol>
          </nav>
          <div class="page-content">
            <div class="row">
              <div class="col col-md-8">

                <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput type="number" min="1" max="5" placeholder="Number" class="form-control" formControlName="no">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.no">
                      <mat-error *ngIf="exampleForm.get('no').hasError(validation.type) && (exampleForm.get('no').dirty || exampleForm.get('no').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                  </div>



                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Subject For Exam" class="form-control" formControlName="sub">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.sub">
                      <mat-error *ngIf="exampleForm.get('sub').hasError(validation.type) && (exampleForm.get('sub').dirty || exampleForm.get('sub').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                  </div>

                  <div class="row submit-button-container">
                    <div class="col-md-4">
                      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>


      </div>
    </main>





