<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Installation of Python for windows</h4>
                  <!--  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago</small> 
                    </p> --->
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%"  
                    src="https://www.youtube.com/embed/dX2-V2BocqQ" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Simple Application using Android Studio</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                    src="https://www.youtube.com/embed/-F8LepUlKFQ" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">How to make an API call in Python</h4>
                </div>
                 <iframe style="width:100%; height:100%"  
                    src="https://www.youtube.com/embed/QovKok-2u9k" allowfullscreen> 
                    </iframe>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">How to make an API call in Javascript</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%" 
                    src="https://www.youtube.com/embed/lHYqpWyv_F0" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
        <li>     
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Creation of API using Java</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%"
                    src="https://www.youtube.com/embed/5jQSat1cKMo" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
        <li>     
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Deploying an application in AWS</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%"  
                    src="https://www.youtube.com/embed/xhc1boyBkJw" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>  
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Design Patterns in Java</h4>
                </div>
                <div class="timeline-body">
                    <iframe style="width:100%; height:100%"  
                    src="https://www.youtube.com/embed/C_oPLDaSy-8" allowfullscreen> 
                    </iframe>
                </div>
            </div>
        </li>
    </ul>
</div>
