<div class="card text-white bg-{{subject.payload.doc.data().bgClass}}"> 
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{subject.payload.doc.data().icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{subject.payload.doc.data().no}}</div>
                <div class="d-block">{{subject.payload.doc.data().name}}</div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left">View Details {{subject.payload.doc.data().data}}</span>
        <a href="javascript:void(0)" class="float-right card-inverse">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div>
</div>
